        {% extends 'base.html' %}

        {% block content %}
            <style>
            /* Estilos para dar formato al formulario */
            .formulario-autoevaluacion {
                width: 100%;
                margin-top: 20px;
                border-collapse: separate;
                border-spacing: 0 10px;
            }

            .formulario-autoevaluacion th,
            .formulario-autoevaluacion td {
                padding: 10px;
                border-bottom: 1px solid #ccc;
            }

            .formulario-autoevaluacion th {
                background-color: #f2f2f2;
            }

            /* Estilos para ajustar los elementos del formulario */
            .formulario-autoevaluacion select,
            .formulario-autoevaluacion input[type="number"],
            .formulario-autoevaluacion input[type="file"] {
                width: 100%;
                padding: 5px;
            }

            .cumple-columna {
                width: 5%;
            }

            .porcentaje-columna {
                width: 5%;
            }

            .evidencia-columna {
                width: 25%;
            }

            /* Reduce el ancho de otras columnas si es necesario */
            .titulo-columna {
                width: 20%;
            }

            .item-columna {
                width: 5%;
            }

            .descripcion-columna {
                width: 40%;
            }

            .btn-ver-plan {
                width: 150px;
            }

            /* Estilos para la ventana emergente */
            .ventana-emergente {
                display: none;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: white;
                border: 1px solid #ccc;
                padding: 20px;
                z-index: 1000;
            }

            .ventana-contenido {
                display: flex;
                justify-content: space-between; /* Distribuir columnas en la ventana */
            }

            /* Estilo para la columna izquierda del formulario de plan de acción */
            .columna-izquierda {
                flex: 1; /* Toma el 50% del espacio en la ventana */
                padding-right: 20px; /* Espacio entre columnas */
            }

            /* Estilo para la columna derecha del listado de planes de acción */
            .columna-derecha {
                flex: 1; /* Toma el 50% del espacio en la ventana */
                padding-left: 20px; /* Espacio entre columnas */
                border-left: 1px solid #ccc; /* Línea divisoria entre columnas */
            }

            .btn-eliminar-plan,
            .btn-modificar-plan {
                background-color: #007bff;
                color: #fff;
                border: none;
                padding: 5px 10px;
                margin-right: 5px;
                cursor: pointer;
            }
        </style>

        <h2>{{ protocolo_seleccionado.protocolo.nombre }}</h2>
            <form method="post" id="autoevaluacion-form">
                {% csrf_token %}
                <table class="formulario-autoevaluacion">
                    <thead>
                        <tr>
                            <th class="titulo-columna">Sector/Requisito</th>
                            <th class="item-columna">Ítem</th>
                            <th class="descripcion-columna">Ítem a evaluar</th>
                            <th class="cumple-columna">¿Cumple?</th>
                            <th class="porcentaje-columna">Porcentaje</th>
                            <th class="evidencia-columna">Subir Evidencia</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Término</th>
                            <th>Plan de Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item_evaluacion in items_evaluacion %}
                        <tr id="item-{{ item_evaluacion.id_item }}">
                            <td class="titulo-columna">{{ item_evaluacion.titulo }}</td>
                            <td class="item-columna">{{ item_evaluacion.item }}</td>
                            <td class="descripcion-columna">{{ item_evaluacion.item_a_evaluar }}</td>
                            <td class="cumple-columna">
                                <select name="aplica_{{ item_evaluacion.id_item }}" class="aplica-select">
                                    <option value="-" selected disabled>-</option>
                                    <option value="Si">Sí</option>
                                    <option value="No">No</option>
                                    <option value="N/A">N/A</option>
                                </select>
                            </td>
                            <td class="porcentaje-columna">
                                <input type="number" name="porcentaje_{{ item_evaluacion.id_item }}" min="0" max="100" class="porcentaje-input" readonly />
                            </td>
                            <td>
                                <input type="file" name="evidencia_{{ item_evaluacion.id_item }}" accept=".pdf, .docx" class="evidencia-input" disabled />
                            </td>
                            <td>
                                <input type="date" name="fecha_inicio_{{ item_evaluacion.id_item }}" class="fecha-input">
                            </td>
                            <td>
                                <input type="date" name="fecha_termino_{{ item_evaluacion.id_item }}" class="fecha-input">
                            </td>
                            <td class="evidencia-columna">
                                <button type=button class="btn-ver-plan" data-item="{{ item_evaluacion.id_item }}" disabled>Ver Plan de Acción</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit">Guardar Respuestas</button>
            </form>

            <div id="ventanaPlanAccion" class="ventana-emergente">
                <span id="btnCerrarVentana">&times;</span>

                <div class="ventana-contenido">
                    <div class="columna-izquierda">

                        <h3>Crear Plan de Acción</h3>
                        <p>Item seleccionado: <input type="text" name="item_evaluacion.id_item" readonly /></p>
                        <form method="post" id="OportunidadmejoraForm">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="button" id="btnGuardarPlanAccion">Guardar Plan de Acción</button>
                        </form>

                    </div>

                    <div class="columna-derecha">
                        <h3>Plan de Acción</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>Actividad</th>
                                    <th>Porcentaje Avance</th>
                                    <th>Responsable</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Término</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="plan-accion-body">
                                <!-- Aquí se mostrarán los planes de acción -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="modalEditarPlan" class="modal">
                <div class="modal-content">
                    <span id="btnCerrarModal" class="close">&times;</span>
                    <h2>Editar Plan de Acción</h2>

                    <form id="editarPlanForm">
                        {% csrf_token %}
                        <!-- Agrega tus campos de edición aquí -->
                        <div class="form-group">
                            <label for="actividadEditInput">Actividad:</label>
                            <input type="text" id="actividadEditInput" name="actividad" required>
                        </div>

                        <div class="form-group">
                            <label for="porcentajeAvanceEditInput">Porcentaje de Avance:</label>
                            <input type="number" id="porcentajeAvanceEditInput" name="porcentajeavance" min="0" max="100" required>
                        </div>

                        <div class="form-group">
                            <label for="responsableEditInput">Responsable:</label>
                            <input type="text" id="responsableEditInput" name="responsable" required>
                        </div>

                        <div class="form-group">
                            <label for="fechaInicioEditInput">Fecha de Inicio:</label>
                            <input type="date" id="fechaInicioEditInput" name="fechainicio" required>
                        </div>

                        <div class="form-group">
                            <label for="fechaTerminoEditInput">Fecha de Término:</label>
                            <input type="date" id="fechaTerminoEditInput" name="fechatermino" required>
                        </div>

                        <!-- Agrega más campos según sea necesario -->

                        <button type="button" id="btnGuardarEdicion" class="btn-guardar">Guardar</button>
                    </form>
                </div>
            </div>




        <script>
            document.addEventListener('DOMContentLoaded', function () {
    // Definición de constantes y variables
                const aplicaSelects = document.querySelectorAll('.aplica-select');
                const porcentajeInputs = document.querySelectorAll('.porcentaje-input');
                const evidenciaInputs = document.querySelectorAll('.evidencia-input');
                const verPlanButtons = document.querySelectorAll('.btn-ver-plan');
                const ventanaPlanAccion = document.getElementById('ventanaPlanAccion');
                const idItemSeleccionadoInput = document.querySelector('input[name="id_item_seleccionado"]');
                const btnGuardarPlanAccion = document.getElementById('btnGuardarPlanAccion');
                const oportunidadmejoraForm = document.getElementById('OportunidadmejoraForm');
                const btnGuardarEdicion = document.getElementById('btnGuardarEdicion');
                const btnCerrarVentana = document.getElementById('btnCerrarVentana');

                // Agregar eventos de clic
                btnCerrarVentana.addEventListener('click', cerrarVentanaPlanAccion);

                aplicaSelects.forEach((select, index) => {
                    select.addEventListener('change', () => {
                        handleSelectChange(select, index);
                    });
                });

                verPlanButtons.forEach(function (button) {
                    button.addEventListener('click', function () {
                        const idItem = button.getAttribute('data-item');
                        button.removeAttribute('disabled');
                        abrirVentanaPlanAccion(idItem);
                    });
                });

                btnGuardarPlanAccion.addEventListener('click', function () {
                    const formDataPlanAccion = new FormData(oportunidadmejoraForm);
                    const idItem = idItemSeleccionadoInput.value;

                    fetch(`/guardar_plan_de_accion/${idItem}/`, {
                        method: 'POST',
                        body: formDataPlanAccion,
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Error al procesar el formulario de Plan de Acción');
                        }
                    })
                    .then(data => {
                        console.log(data);
                        actualizarVistaPlanAccion(idItem);
                        oportunidadmejoraForm.reset();
                    })
                    .catch(error => {
                        console.error(error);
                        // Puedes mostrar un mensaje de error al usuario si lo deseas
                    });
                });

                btnGuardarEdicion.addEventListener('click', function () {
                    guardarEdicionPlan();
                });

                // Función para abrir la ventana de Plan de Acción
                async function abrirVentanaPlanAccion(idItem) {
                    idItemSeleccionadoInput.value = idItem;
                    idItemSeleccionadoInput.readOnly = true;

                    // Mostrar la ventana emergente al hacer clic en "Ver Plan de Acción"
                    ventanaPlanAccion.style.display = 'block';

                    try {
                        // Realizar una solicitud AJAX para obtener y mostrar el plan de acción
                        const response = await fetch(`/obtener_plan_de_accion/${idItem}/`);
                        if (!response.ok) {
                            throw new Error('Error al obtener el plan de acción');
                        }

                        const data = await response.json();
                        const planAccionBody = document.getElementById('plan-accion-body');
                        planAccionBody.innerHTML = '';

                        data.forEach(plan => {
                            const row = document.createElement('tr');
                            row.innerHTML = `
                                <td>${plan.actividad}</td>
                                <td>${plan.porcentajeavance}</td>
                                <td>${plan.responsable}</td>
                                <td>${plan.fechainicio}</td>
                                <td>${plan.fechatermino}</td>
                                <td>
                                    <button class="btn-eliminar-plan" data-id="${plan.id_oportunidad}">Eliminar</button>
                                    <button class="btn-modificar-plan" data-id="${plan.id_oportunidad}">Modificar</button>
                                </td>
                            `;
                            planAccionBody.appendChild(row);
                        });

                        // Agregar eventos de clic para los nuevos elementos
                        agregarEventosClick();
                    } catch (error) {
                        console.error(error);
                    }
                }

                // Función para actualizar la vista del Plan de Acción
                async function actualizarVistaPlanAccion(idItem) {
                    try {
                        // Realizar una solicitud AJAX para obtener y mostrar el plan de acción
                        const response = await fetch(`/obtener_plan_de_accion/${idItem}/`);
                        if (!response.ok) {
                            throw new Error('Error al obtener el plan de acción');
                        }

                        const data = await response.json();
                        const planAccionBody = document.getElementById('plan-accion-body');
                        planAccionBody.innerHTML = '';

                        data.forEach(plan => {
                            const row = document.createElement('tr');
                            row.innerHTML = `
                                <td>${plan.actividad}</td>
                                <td>${plan.porcentajeavance}</td>
                                <td>${plan.responsable}</td>
                                <td>${plan.fechainicio}</td>
                                <td>${plan.fechatermino}</td>
                                <td>
                                    <button class="btn-eliminar-plan" data-id="${plan.id_oportunidad}">Eliminar</button>
                                    <button class="btn-modificar-plan" data-id="${plan.id_oportunidad}">Modificar</button>
                                </td>
                            `;
                            planAccionBody.appendChild(row);
                        });

                        // Agregar eventos de clic para los nuevos elementos
                        agregarEventosClick();
                    } catch (error) {
                        console.error(error);
                    }
                }

                // Función para cerrar la ventana de Plan de Acción
                function cerrarVentanaPlanAccion() {
                    ventanaPlanAccion.style.display = 'none';
                }

                // Función para manejar el cambio en los selects
                function handleSelectChange(select, index) {
                    const porcentajeInput = porcentajeInputs[index];
                    const evidenciaInput = evidenciaInputs[index];
                    const verPlanButton = verPlanButtons[index];
                    const selectValue = select.value;

                    updateFields(selectValue, porcentajeInput, evidenciaInput, verPlanButton);
                }

                // Función para actualizar campos según el valor del select
                function updateFields(selectValue, porcentajeInput, evidenciaInput, verPlanButton) {
                    let porcentajeValue = '';
                    let porcentajeReadOnly = false;
                    let evidenciaDisabled = false;
                    let verPlanDisabled = false;

                    if (selectValue === 'Si') {
                        porcentajeValue = 100;
                        verPlanDisabled = true;
                    } else if (selectValue === 'No') {
                        porcentajeValue = 0;
                        porcentajeReadOnly = true;
                        evidenciaDisabled = true;
                        verPlanDisabled = false;
                    } else if (selectValue === 'N/A') {
                        porcentajeReadOnly = false;
                        evidenciaDisabled = true;
                        verPlanDisabled = true;
                    }

                    porcentajeInput.value = porcentajeValue;
                    porcentajeInput.readOnly = porcentajeReadOnly;
                    evidenciaInput.disabled = evidenciaDisabled;
                    evidenciaInput.value = '';
                    verPlanButton.disabled = verPlanDisabled;
                }

                // Función para agregar eventos de clic a los nuevos elementos
                function agregarEventosClick() {
                    const btnEliminar = document.querySelectorAll('.btn-eliminar-plan');
                    const btnEditar = document.querySelectorAll('.btn-modificar-plan');

                    btnEditar.forEach((editarButton) => {
                        editarButton.addEventListener('click', async () => {
                            const planId = editarButton.getAttribute('data-id');
                            const response = await fetch(`/obtener_detalle_plan_de_accion/${planId}`);
                            const plan = await response.json();

                            document.getElementById('actividadEditInput').value = plan.actividad;
                            document.getElementById('porcentajeAvanceEditInput').value = plan.porcentajeavance;
                            document.getElementById('responsableEditInput').value = plan.responsable;
                            document.getElementById('fechaInicioEditInput').value = plan.fechainicio;
                            document.getElementById('fechaTerminoEditInput').value = plan.fechatermino;

                            const modalEditarPlan = document.getElementById('modalEditarPlan');
                            modalEditarPlan.style.display = 'block';

                            btnGuardarEdicion.setAttribute('data-id', planId);
                        });
                    });

                    btnEliminar.forEach((btnEliminar) => {
                        btnEliminar.addEventListener('click', function () {
                            const planId = btnEliminar.getAttribute('data-id');
                            const confirmacion = confirm('¿Está seguro de eliminar?');

                            if (confirmacion) {
                                fetch(`/eliminar_plan_de_accion/${planId}/`, {
                                    method: 'DELETE',
                                    headers: {
                                        'X-CSRFToken': getCookie('csrftoken'),
                                        'Content-Type': 'application/json',
                                    },
                                })
                                .then(response => {
                                    if (response.ok) {
                                        return response.json();
                                    } else {
                                        throw new Error('Error al procesar la solicitud de eliminación');
                                    }
                                })
                                .then(data => {
                                    console.log(data);
                                    actualizarVistaPlanAccion(idItemSeleccionadoInput.value);
                                })
                                .catch(error => {
                                    console.error(error);
                                });
                            }
                        });
                    });
                }

                // Función para guardar la edición del plan
                async function guardarEdicionPlan() {
                    try {
                        const planId = btnGuardarEdicion.getAttribute('data-id');
                        const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

                        const formData = new FormData(document.getElementById('editarPlanForm'));

                        const jsonData = {};
                        formData.forEach((value, key) => {
                            jsonData[key] = value;
                        });

                        const response = await fetch(`/actualizar_plan_de_accion/${planId}/`, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': csrfToken,
                            },
                            body: JSON.stringify(jsonData),
                        });

                        if (response.ok) {
                            const data = await response.json();
                            alert(data.message);

                            cerrarModalEdicion();
                            await actualizarVistaPlanAccion(idItemSeleccionadoInput.value);
                        } else {
                            throw new Error('Error al actualizar el plan de acción');
                        }
                    } catch (error) {
                        console.error(error);
                    }
                }

                // Función para cerrar el modal de edición
                function cerrarModalEdicion() {
                    const modalEditarPlan = document.getElementById('modalEditarPlan');
                    modalEditarPlan.style.display = 'none';
                }

                // Función para obtener el valor de una cookie
                function getCookie(name) {
                    const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
                    return cookieValue ? cookieValue.pop() : '';
                }
            });


            </script>

        {% endblock %}